// Manrope
@font-face {
    font-family: 'Manrope';
    src: url('~@/assets/fonts/Manrope/Manrope-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('~@/assets/fonts/Manrope/Manrope-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('~@/assets/fonts/Manrope/Manrope-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('~@/assets/fonts/Manrope/Manrope-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

// Roboto
@font-face {
    font-family: 'Roboto';
    src: url('~@/assets/fonts/Roboto/Roboto-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('~@/assets/fonts/Roboto/Roboto-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('~@/assets/fonts/Roboto/Roboto-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('~@/assets/fonts/Roboto/Roboto-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

// Aldrich
@font-face {
    font-family: 'Aldrich';
    src: url('~@/assets/fonts/Aldrich/Aldrich-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
