/*
 * DETAIL PAGE
*/
.article__body {
  & br {
    display: none;
  }
  & h2, h3 {
    margin-bottom: 30px;
    margin-top: 48px;
    font-weight: 700;
    font-size: 21px;
    line-height: 32px;
    color: #fff;
  }
  & h4 {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #f36d01;
  }
  & p { 
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px; 
  }
  & .txt > div > div { 
    display: flex;
    flex-direction: column;
    padding: 48px;
    border-radius: 6px;
    width: fit-content;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.05);

    & > a {
      position: relative;
      font-size: 14px;
      line-height: 24px;
      color: #fff;
      width: fit-content;
      margin-top: 8px;
      transition: all .3s ease;

      &::before {
        content: '';
        position: absolute;
        width: 0;
        top: 100%;
        height: 1px;
        border-radius: 2px;
        transition: all .5s ease;
        background-color: #f36d01;
      }
      &:hover {
        color: #f36d01;

        &::before {
          width: 100%;
        }
      }
    }
  }
  & b {
    font-weight: 400;
    color: #f36d01;
  }
  & i {
    display: block;
    font-weight: 600;
    margin: 30px 0;
    font-style: normal;
    width: 100%;
    padding: 48px 145px;
    text-align: center;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.05);
  }
  & ul li { 
    color: #fff; 
    &::marker { color: #fff; }
  }
  & ol {
    counter-reset: myCounter;
    & li {
      list-style: none;
      display: flex;
      align-items: center;
      &::before {
        counter-increment: myCounter;
        content:counter(myCounter);
        color: white;
        background: #f36d01;
        border-radius: 50%;
        text-align: center;
        margin: 5px 10px 5px -35px;
        width: 25px;
        height: 25px;
        min-width: 25px;
        min-height: 25px;
      }
    }
  }
  & img {
    width: 100%;
    border-radius: 2px;
    margin-top: 30px;
  }
  & .img-txt {
    display: block;
    text-align: center;
    margin: 8px auto;
    font-size: 12px;
    line-height: 16px;
    color: #818181;
  }

  & .row-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;

    & div {
      background: inherit !important;
      border-radius: 0;
      padding: 0 !important;
    }

    & .img-txt {
      text-align: left;
    }
  }
}