.blog .pagination {
  display: flex;
  margin-top: auto;
  margin-bottom: 30px;
  width: 100%;
  justify-content: center;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    font-weight: 600;
    color: #818181;
    margin: 0 2.5px;
    padding: 2.5px;
    border-radius: 5px;
    line-height: 130%;
    transition: all .3s ease;

    &:hover { color: #f36d01; }
    &.active {
      pointer-events: none;
      color: #fff;
    }
  }
}